@CHARSET "UTF-8";

pre {
	display: inline;
	white-space: pre-line;
}

#editor {
	width: 100%;
	
	table-layout: fixed;
}

#editor tr td {
	width: 50%;
	max-width: 50%;
	white-space: pre;
}

#preview {
	word-wrap: break-word;
	word-break: break-all;
	vertical-align: top;	
}

#input {
	width: 99%;
	resize: vertical;
}

#lookup,#lookup th,#lookup td {
	border-collapse: collapse;
	border: 1px solid;
	/*text-align: center;*/
}

table {
	width: 100%;
	max-width: 100%;
	height: 100%
}